$primary: #2F2569;
$danger: #9C122B;
$success: #FF8778;
$secondary: #686869;
$warning: #1E1E1E;
$info: #5CB8FF;
 // Ajout des couleurs Global pour la charte graphique
 
 $navbar-dark-color: #5CB8FF;
 $breadcrumb-bg: #5CB8FF;


@import "../vendor/twbs/bootstrap/scss/bootstrap";

// Couleur du fond du site Web + police d'écriture principal
