@import 'custom';

.navigation_bandeau{
    background-color: #1E1E1E;
    height: 150px;
}
.logo{
    width: 180px;
}
.navigation_link{
    display: flex;
    justify-content: space-evenly;
    padding: 0% 3%;
}